div(class="blog_details_comment")
  h2 2 Comments
  .d-flex.flex-wrap(class="blog_comment")
    div(class="blog_comment_img")
      img.img-fluid.w-100(
        alt="img" 
        src="/client/assets/images/comment_1.png"
        )
    div(class="blog_comment_text")
      h4 Douglas Lyphe
      span march 26,2024 at 10:47 pm
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis temporibus eaque
        |   repudiandae rem veniam quos iste cupiditate, perspiciatis itaque nesciunt quae
        |   impedit necessitatibus nostrum recusandae ea laboriosam doloremque repellat hic?.
  .d-flex.flex-wrap(class="blog_comment")
    div(class="blog_comment_img")
      img.img-fluid.w-100(
        alt="img" 
        src="/client/assets/images/comment_2.png"
        )
    div(class="blog_comment_text")
      h4 Lance Bogrol
      span march 26,2024 at 10:47 pm
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur recusandae dolorem
        |   maiores minima ipsa! Suscipit vitae officia sequi ipsam voluptates laborum ea fugiat
        |   ad vero repellendus corrupti accusantium eligendi porro perspiciatis eius, dolorem
        |   doloribus doloremque.
  .d-flex.flex-wrap(class="blog_comment")
    div(class="blog_comment_img")
      img.img-fluid.w-100(
        alt="img" 
        src="/client/assets/images/comment_1.png"
        )
    div(class="blog_comment_text")
      h4 Douglas Lyphe
      span march 26,2024 at 10:47 pm
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque turpis
        |   turpis,
        |   maximus ut augue et, imperdiet tempor nisi. Fusce at lacus a risus viverra
        |   suscipit.
  .d-flex.flex-wrap(class="blog_comment")
    div(class="blog_comment_img")
      img.img-fluid.w-100(
        alt="img" 
        src="/client/assets/images/comment_2.png"
        )
    div(class="blog_comment_text")
      h4 Lance Bogrol
      span march 26,2024 at 10:47 pm
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis temporibus eaque
        |   repudiandae rem veniam quos iste cupiditate, perspiciatis itaque nesciunt quae
        |   impedit necessitatibus nostrum recusandae ea laboriosam doloremque repellat hic.
  div(class="pagination_area")
    nav(aria-label="...")
      ul.pagination(class="mt_50")
        li.page-item
          a.page-link(href="#")
            i.far.fa-arrow-left
        li.page-item
          a.page-link.active(href="#") 01
        li.page-item
          a.page-link(href="#") 02
        li.page-item
          a.page-link(href="#") 03
        li.page-item
          a.page-link(href="#")
            i.far.fa-arrow-right
