div(class="blog_details_left")
  div(class="blog_details_img_1")
    img.img-fluid.w-100(
      alt="img" 
      src="/client/assets/images/blog_details_1_img.jpg"
      )
  ul.d-flex.flex-wrap(class="blog_details_top")
    li
      span
        img.img-fluid.w-100(
          alt="icon" 
          src="/client/assets/images/calender.png"
          )
      | March 28,2024
    li
      span
        img.img-fluid.w-100(
          alt="icon" 
          src="/client/assets/images/user_icon_black.svg"
          )
      | By Douglas Lyphe
    li
      span
        img.img-fluid.w-100(
          alt="icon" 
          src="/client/assets/images/massage.png"
          )
      | 3 Comment
  h2 Maximize Room in Petite Bedroom Spaces.
  p
    | Many individuals and institutions invest in real estate for potential appreciation in
    |   value,
    |   rental income combination both. Real estate investment can be done directly by buying
    |   properties or indirectly through real estate investment trusts (REITs) and other
    |   investment
    |   vehicles.
  ul
    li Real estate development involves the process of purchasing, improving.
    li Real estate markets can experience fluctuations in property values & demand.
    li Real estate development involves the process of purchasing, improving.
  div(class="blog_details_review")
    p
      | "Partnering with Interior was a delightful experience. Their designers showcased
      |   immense
      |   skill, ensuring I was always in the loop and actively participating in
      |   decision-making.
      |   I look forward to the opportunity to work with them again."
  .row(class="mt_20")
    .col-sm-6
      div(class="blog_details_center_img")
        img.img-fluid.w-100(
          alt="img" 
          src="/client/assets/images/blog_details_2_img.jpg"
          )
    .col-sm-6
      div(class="blog_details_center_img")
        img.img-fluid.w-100(
          alt="img" 
          src="/client/assets/images/blog_details_3_img.jpg"
          )
  h4 Embracing a sophisticated yet minimalist aesthetic.
  p
    | This includes single-family homes, condominiums, townhouses, and apartment buildings.
    |   Residential real estate is often classified by the number of dwelling units, such as
    |   single-family (one unit), duplex (two units), triplex (three units), or multi-family (four
    |   or more units). This includes single-family homes, condominiums, townhouses, and apartment
    |   buildings.
  ul(class="blog_explaine")
    li Real estate development involves the process of purchasing, improving.
    li This can include constructing buildings, roads, utilities, and other infrastructure.
    li Real estate markets can experience fluctuations in property values & demand.
    li Real estate development involves the process of purchasing, improving.
  h4 Embracing a sophisticated yet minimalist aesthetic.
  p
    | This includes single-family homes, condominiums, townhouses, and apartment buildings.
    |   Residential real estate is often classified by the number of dwelling units, such as
    |   single-family (one unit), duplex (two units), triplex (three units), or multi-family (four
    |   or more units). This includes single-family homes, condominiums, townhouses, and apartment
    |   buildings.
