div(class="blog_details_comment_input")
  form(action="#")
    h2 Leave a Comment
    .row
      .col-md-6
        div(class="blog_form_input")
          input(
            placeholder="Name *" 
            type="text"
            )
      .col-md-6
        div(class="blog_form_input")
          input(
            placeholder="E-mail *" 
            type="email"
            )
      .col-md-6
        div(class="blog_form_input")
          input(
            placeholder="Phone" 
            type="text"
            )
      .col-md-6
        div(class="blog_form_input")
          input(
            placeholder="Subject" 
            type="text"
            )
      .col-xl-12
        div(class="blog_form_input")
          textarea(
            placeholder="Your Comment Here..." 
            rows="6"
            )
      .col-xl-12
        .form-check(class="blog_checkbox")
          input#flexCheckDefault.form-check-input(type="checkbox")
          label.form-check-label(for="flexCheckDefault")
            | Save my name, email, and website in this browser for the next time I
            |   comment.
      .col-xl-12
        button(class="common_btn")
          | Submit Comment
          i.fas.fa-long-arrow-right
