footer(
  style="background: url(/client/assets/images/footer_2_bg_2.jpg);" 
  class="footer_2 pt_100"
  )
  .container
    .row.justify-content-between
      .col-xl-3.col-md-6.col-lg-3.wow.fadeInUp(data-wow-delay=".7s")
        div(class="footer_2_logo_area")
          a(
            href="index.html" 
            class="footer_logo"
            )
            img.img-fluid.w-100(
              alt="Zenis" 
              src="/client/assets/images/footer_logo_2.png"
              )
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, distinctio molestiae error
            |   ullam obcaecati dolorem inventore.
          ul
            li
              span Follow :
            li
              a(href="#")
                i.fab.fa-facebook-f
            li
              a(href="#")
                i.fab.fa-twitter
            li
              a(href="#")
                i.fab.fa-google-plus-g
            li
              a(href="#")
                i.fab.fa-linkedin-in
      .col-xl-2.col-sm-6.col-md-4.col-lg-2.wow.fadeInUp(data-wow-delay="1s")
        div(class="footer_link")
          h3 Company
          ul
            li
              a(href="#about") About us
            li
              a(href="#") Contact Us
            li
              a(href="#") Affiliate
            li
              a(href="#") Career
            li
              a(href="#") Latest News
      .col-xl-2.col-sm-6.col-md-4.col-lg-2.wow.fadeInUp(data-wow-delay="1.3s")
        div(class="footer_link")
          h3 Category
          ul
            li
              a(href="#") Men’s Fashion
            li
              a(href="#") denim Collection
            li
              a(href="#") western wear
            li
              a(href="#") sport wear
            li
              a(href="#") fashion jewellery
      .col-xl-2.col-sm-6.col-md-4.col-lg-2.wow.fadeInUp(data-wow-delay="1.6s")
        div(class="footer_link")
          h3 Quick Links
          ul
            li
              a(href="#") Privacy Ploicy
            li
              a(href="#") Terms and Condition
            li
              a(href="#") Return Policy
            li
              a(href="#") FAQ's
            li
              a(href="#") Become a Vendor
      .col-xl-3.col-sm-6.col-md-4.col-lg-3.wow.fadeInUp(data-wow-delay="1.9s")
        div(class="footer_link footer_logo_area")
          h3 Contact Us
          p
            | It is a long established fact that reader distracted looking layout It is a long established
            |   fact.
          span
            b
              img.img-fluid(
                alt="Map" 
                src="/client/assets/images/location_icon_white.png"
                )
            | 37 W 24th St, New York, NY
          span
            b
              img.img-fluid(
                alt="Call" 
                src="/client/assets/images/phone_icon_white.png"
                )
            a(href="callto:+123324587939") +123 324 5879 39
          span
            b
              img.img-fluid(
                alt="Mail" 
                src="/client/assets/images/mail_icon_white.png"
                )
            a(href="mailto:support@mail.com") info@Zenis.com
    .row
      .col-12
        div(class="footer_copyright mt_75")
          p
            | Copyright @
            b Zenis
            | 2025. All right reserved.
          ul.payment
            li Payment by :
            li
              img.img-fluid.w-100(
                alt="payment" 
                src="/client/assets/images/footer_payment_icon_1.jpg"
                )
            li
              img.img-fluid.w-100(
                alt="payment" 
                src="/client/assets/images/footer_payment_icon_2.jpg"
                )
            li
              img.img-fluid.w-100(
                alt="payment" 
                src="/client/assets/images/footer_payment_icon_3.jpg"
                )
