nav.d-none.d-lg-block(class="main_menu_2 main_menu")
  .container
    .row
      .col-12.d-flex.flex-wrap
        div(class="main_menu_area")
          div(class="menu_category_area")
            a.d-none(
              class="menu_logo" 
              href="index.html"
              )
              img.img-fluid.w-100(
                alt="Zenis" 
                src="/client/assets/images/logo_2.png"
                )
            div(class="menu_category_bar")
              p
                span
                  img(
                    alt="category icon" 
                    src="/client/assets/images/bar_icon_white.svg"
                    )
                | Browse Categories
              i.fas.fa-chevron-down
            ul(class="menu_cat_item")
              li
                a(href="shop.html")
                  span
                    img(
                      alt="category" 
                      src="/client/assets/images/category_list_icon_1.png"
                      )
                  | Men’s Fashion
                ul(class="menu_cat_droapdown")
                  li
                    a(href="shop.html")
                      | shirts
                      i.fal.fa-angle-right
                    ul(class="sub_category")
                      li
                        a(href="shop.html") Casual Shirts
                      li
                        a(href="shop.html") Formal Shirts
                      li
                        a(href="shop.html") Denim Shirts
                  li
                    a(href="shop.html")
                      | pant
                      i.fal.fa-angle-right
                    ul(class="sub_category")
                      li
                        a(href="shop.html") Casual Pants
                      li
                        a(href="shop.html") Formal Trousers
                      li
                        a(href="shop.html") Jeans & Denim
                  li
                    a(href="shop.html") Casual Wear
                  li
                    a(href="shop.html") Formal Attire
              li
                a(href="shop.html")
                  span
                    img(
                      alt="category" 
                      src="/client/assets/images/category_list_icon_2.png"
                      )
                  | Women's Fashion
                ul(class="menu_cat_droapdown")
                  li
                    a(href="shop.html") sharee
                  li
                    a(href="shop.html")
                      | Shirts
                      i.fal.fa-angle-right
                    ul(class="sub_category")
                      li
                        a(href="shop.html") Full Sleeves Printed
                      li
                        a(href="shop.html") Full Sleeves Solid
                      li
                        a(href="shop.html") Half Sleeves Solid
                  li
                    a(href="shop.html")
                      | T-Shirts
                      i.fal.fa-angle-right
                    ul(class="sub_category")
                      li
                        a(href="shop.html") Crew Neck
                      li
                        a(href="shop.html") V Neck
                      li
                        a(href="shop.html") Henley Neck
                  li
                    a(href="shop.html") Nightie Set
                  li
                    a(href="shop.html") 3-Piece
                  li
                    a(href="shop.html") leggings
              li
                a(href="shop.html")
                  span
                    img(
                      alt="category" 
                      src="/client/assets/images/category_list_icon_3.png"
                      )
                  | KId's Fashion
                ul(class="menu_cat_droapdown")
                  li
                    a(href="shop.html") Boys’ Fashion
                  li
                    a(href="shop.html") Girls’ Fashion
                  li
                    a(href="shop.html")
                      | Newborn Essentials
                      i.fal.fa-angle-right
                    ul(class="sub_category")
                      li
                        a(href="shop.html") Sleepwear
                      li
                        a(href="shop.html") Loungewear
                  li
                    a(href="shop.html") Party & Occasion Wear
                  li
                    a(href="shop.html") Winter Warmers
                  li
                    a(href="shop.html") Summer Coolers
              li
                a(href="shop.html")
                  span
                    img(
                      alt="category" 
                      src="/client/assets/images/category_list_icon_4.png"
                      )
                  | denim Collection
                ul(class="menu_cat_droapdown")
                  li
                    a(href="shop.html") Denim Essentials
                  li
                    a(href="shop.html") Jeans & Bottoms
                  li
                    a(href="shop.html") Denim Jackets
                  li
                    a(href="shop.html") Outerwear
                  li
                    a(href="shop.html") Denim Shirts & Tops
                  li
                    a(href="shop.html") Denim Shorts
              li
                a(href="shop.html")
                  span
                    img(
                      alt="category" 
                      src="/client/assets/images/category_list_icon_5.png"
                      )
                  | western wear
                ul(class="menu_cat_droapdown")
                  li
                    a(href="shop.html") Dresses & Jumpsuits
                  li
                    a(href="shop.html") Tops & Blouses
                  li
                    a(href="shop.html") T-Shirts & Tank Tops
                  li
                    a(href="shop.html") Jeans & Denim
                  li
                    a(href="shop.html") Trousers & Pants
                  li
                    a(href="shop.html") Skirts & Shorts
                  li
                    a(href="shop.html") Blazers & Jackets
              li
                a(href="shop.html")
                  span
                    img(
                      alt="category" 
                      src="/client/assets/images/category_list_icon_6.png"
                      )
                  | sport wear
                ul(class="menu_cat_droapdown")
                  li
                    a(href="shop.html") Men’s Activewear
                  li
                    a(href="shop.html") Women’s Activewear
                  li
                    a(href="shop.html") Gym & Training Gear
                  li
                    a(href="shop.html") Running Apparel
                  li
                    a(href="shop.html") Yoga & Athleisure
              li
                a(href="shop.html")
                  span
                    img(
                      alt="category" 
                      src="/client/assets/images/category_list_icon_7.png"
                      )
                  | footwear
                ul(class="menu_cat_droapdown")
                  li
                    a(href="shop.html") Men’s Footwear
                  li
                    a(href="shop.html") Women’s Footwear
                  li
                    a(href="shop.html") Casual Shoes
                  li
                    a(href="shop.html") Formal Shoes
                  li
                    a(href="shop.html") Boots & Winter Wear
                  li
                    a(href="shop.html") Sandals & Slippers
              li
                a(href="shop.html")
                  span
                    img(
                      alt="category" 
                      src="/client/assets/images/category_list_icon_8.png"
                      )
                  | fashion jewellery
                ul(class="menu_cat_droapdown")
                  li
                    a(href="shop.html") Necklaces & Pendants
                  li
                    a(href="shop.html") Earrings & Studs
                  li
                    a(href="shop.html") Bracelets & Bangles
                  li
                    a(href="shop.html") Rings & Finger Jewelry
                  li
                    a(href="shop.html") Brooches & Pins
                  li
                    a(href="shop.html") Hair Accessories
              li
                a(href="shop.html")
                  span
                    img(
                      alt="category" 
                      src="/client/assets/images/category_list_icon_2.png"
                      )
                  | Beauty & Cosmetics
                ul(class="menu_cat_droapdown")
                  li
                    a(href="shop.html") Necklaces & Pendants
                  li
                    a(href="shop.html") Earrings & Studs
                  li
                    a(href="shop.html") Bracelets & Bangles
                  li
                    a(href="shop.html") Rings & Finger Jewelry
                  li
                    a(href="shop.html") Brooches & Pins
                  li
                    a(href="shop.html") Hair Accessories
              li(class="all_category")
                a(href="category.html")
                  | View All Categories
                  i.far.fa-arrow-right
          ul(class="menu_item")
            li
              a.active(href="#")
                | home
                i.fas.fa-chevron-down
              ul(class="menu_droapdown")
                li
                  a.active(href="index.html") Clothing Fashion 01
                li
                  a(href="home_fashion_2.html") Clothing Fashion 02
                li
                  a(href="home_grocery.html") Grocery Store
                li
                  a(href="home_beauty.html") Beauty & Cosmetics
            li
              a(href="#")
                | shop
                i.fas.fa-chevron-down
              ul(class="menu_droapdown")
                li
                  a(href="shop.html") Shop
                li
                  a(href="shop_details.html") Shop Details
            li
              a(href="#")
                | Stores
                i.fas.fa-chevron-down
              ul(class="menu_droapdown")
                li
                  a(href="vendor.html") Store
                li
                  a(href="vendor_details.html") Store Details
                li
                  a(href="vendor_registration.html") Become a Vendor
            li
              a(href="flash_deals.html") Flash Deals
            li
              a(href="#")
                | pages
                i.fas.fa-chevron-down
              ul(class="menu_droapdown")
                li
                  a(href="about_us.html") about us
                li
                  a(href="category.html") Category
                li
                  a(href="brand.html") Brand
                li
                  a(href="cart.html") cart view
                li
                  a(href="wishlist.html") wishlist
                li
                  a(href="compare.html") compare
                li
                  a(href="checkout.html") checkout
                li
                  a(href="payment_success.html") payment success
                li
                  a(href="track_order.html") track order
                li
                  a(href="error.html") error/404
                li
                  a(href="faq.html") FAQ's
                li
                  a(href="privacy_policy.html") privacy Policy
                li
                  a(href="terms_condition.html") terms and condition
                li
                  a(href="return_policy.html") return policy
                li
                  a(href="sign_in.html") sign in
                li
                  a(href="sign_up.html") sign up
                li
                  a(href="forgot_password.html") forgot password
                li
                  a(href="dashboard.html") Dashboard
            li
              a(href="#")
                | blog
                i.fas.fa-chevron-down
              ul(class="menu_droapdown")
                li
                  a(href="blog_classic.html") blog classic
                li
                  a(href="blog_right_sidebar.html") blog right sidebar
                li
                  a(href="blog_left_sidebar.html") blog left sidebar
                li
                  a(href="blog_details.html") blog details
            li
              a(href="contact_us.html") contact
          ul(class="menu_icon")
            li
              a(href="compare.html")
                b
                  img.img-fluid(
                    alt="Wishlist" 
                    src="/client/assets/images/compare_black.svg"
                    )
                span 2
            li
              a(href="wishlist.html")
                b
                  img.img-fluid(
                    alt="Wishlist" 
                    src="/client/assets/images/love_black.svg"
                    )
                span 5
            li
              a(
                aria-controls="offcanvasRight" 
                data-bs-target="#offcanvasRight" 
                data-bs-toggle="offcanvas"
                )
                b
                  img.img-fluid(
                    alt="cart" 
                    src="/client/assets/images/cart_black.svg"
                    )
                span 3
            li
              a.user(href="dashboard.html")
                b
                  img.img-fluid(
                    alt="cart" 
                    src="/client/assets/images/user_icon_black.svg"
                    )
                h5 Smith Jhon
              ul(class="user_dropdown")
                li
                  a(href="dashboard.html")
                    svg.size-6(
                      stroke="currentColor" 
                      stroke-width="1.5" 
                      viewBox="0 0 24 24" 
                      fill="none" 
                      xmlns="http://www.w3.org/2000/svg"
                      )
                      path(
                        d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 0 1 0 3.75H5.625a1.875 1.875 0 0 1 0-3.75Z" 
                        stroke-linejoin="round" 
                        stroke-linecap="round"
                        )
                    | Dashboard
                li
                  a(href="dashboard_profile.html")
                    svg.size-6(
                      stroke="currentColor" 
                      stroke-width="1.5" 
                      viewBox="0 0 24 24" 
                      fill="none" 
                      xmlns="http://www.w3.org/2000/svg"
                      )
                      path(
                        d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" 
                        stroke-linejoin="round" 
                        stroke-linecap="round"
                        )
                    | my account
                li
                  a(href="dashboard_order.html")
                    svg.size-6(
                      stroke="currentColor" 
                      stroke-width="1.5" 
                      viewBox="0 0 24 24" 
                      fill="none" 
                      xmlns="http://www.w3.org/2000/svg"
                      )
                      path(
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" 
                        stroke-linejoin="round" 
                        stroke-linecap="round"
                        )
                    | my order
                li
                  a(href="dashboard_wishlist.html")
                    svg.size-6(
                      stroke="currentColor" 
                      stroke-width="1.5" 
                      viewBox="0 0 24 24" 
                      fill="none" 
                      xmlns="http://www.w3.org/2000/svg"
                      )
                      path(
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" 
                        stroke-linejoin="round" 
                        stroke-linecap="round"
                        )
                    | wishlist
                li
                  a(href="#")
                    svg.size-6(
                      stroke="currentColor" 
                      stroke-width="1.5" 
                      viewBox="0 0 24 24" 
                      fill="none" 
                      xmlns="http://www.w3.org/2000/svg"
                      )
                      path(
                        d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" 
                        stroke-linejoin="round" 
                        stroke-linecap="round"
                        )
                    | logout