section.wow.fadeInUp(class="related_products mt_90 mb_70")
  .container
    .row
      .col-xl-6
        div(class="section_heading_2 section_heading")
          h3
            span Related
            | Products
    .row(class="mt_25 flash_sell_2_slider")
      .col-xl-1-5
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_1.png"
              )
            ul(class="discount_list")
              li.discount
                b -
                | 75%
              li.new new
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") Full Sleeve Hoodie Jacket
            p.price
              | $40.00
              del $48.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              span (20 reviews)
            ul.color
              li.active(style="background:#DB4437")
              li(style="background:#638C34")
              li(style="background:#1C58F2")
              li(style="background:#ffa500")
      .col-xl-1-5
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_24.png"
              )
            ul(class="discount_list")
              li.discount
                b -
                | 45%
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") Denim casual blazer for men
            p.price
              | $120.00
              del $99.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              span (17 reviews)
            ul.color
              li.active(style="background:#DB4437")
              li(style="background:#638C34")
              li(style="background:#ffa500")
      .col-xl-1-5
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_3.png"
              )
            ul(class="discount_list")
              li.discount
                b -
                | 15%
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") Women's Western Party Dress
            p.price
              | $50.00
              del $40.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              span (22 reviews)
            ul.color
              li(style="background:#638C34")
              li(style="background:#1C58F2")
              li(style="background:#ffa500")
      .col-xl-1-5
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_26.png"
              )
            ul(class="discount_list")
              li.discount
                b -
                | 75%
              li.new new
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") tops pant beautiful dress
            p.price
              | $75.00
              del $69.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (58 reviews)
            ul.color
              li.active(style="background:#DB4437")
              li(style="background:#638C34")
              li(style="background:#1C58F2")
              li(style="background:#ffa500")
      .col-xl-1-5
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_8.png"
              )
            ul(class="discount_list")
              li.discount
                b -
                | 49%
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") Kid's Western Party Dress
            p.price
              | $49.00
              del $39.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (44 reviews)
            ul.color
              li.active(style="background:#DB4437")
              li(style="background:#638C34")
              li(style="background:#1C58F2")
      .col-xl-1-5
        div(class="product_item_2 product_item")
          div(class="product_img")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_19.png"
              )
            ul(class="discount_list")
              li.discount
                b -
                | 62%
            ul(class="btn_list")
              li
                a(href="#")
                  img.img-fluid(
                    alt="Compare" 
                    src="/client/assets/images/compare_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/love_icon_white.svg"
                    )
              li
                a(href="#")
                  img.img-fluid(
                    alt="Love" 
                    src="/client/assets/images/cart_icon_white.svg"
                    )
          div(class="product_text")
            a.title(href="shop_details.html") Men's premium formal shirt
            p.price
              | $41.00
              del $59.00
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (98 reviews)
            ul.color
              li.active(style="background:#DB4437")
              li(style="background:#638C34")
              li(style="background:#1C58F2")
              li(style="background:#ffa500")
