div(class="shop_details_text")
  p.category Computers & Tablets
  h2(class="details_title") Full Sleeve Hoodie Jacket
  .d-flex.flex-wrap.align-items-center
    p.stock In Stock
    // <p class="out_stock stock">out of Stock</p>
    p.rating
      i.fas.fa-star
      i.fas.fa-star
      i.fas.fa-star
      i.fas.fa-star
      i.fas.fa-star
      span (93 reviews)
  h3.price
    | $65.00
    del $70.00
  p(class="short_description")
    | Auctor urna nunc id cursus. Scelerisque purus semper eget
    |   duis at
    |   pharetra vel turpis nunc eget. Auctor urna nunc id cursus Scelerisque purus.
  div(class="details_single_variant")
    p(class="variant_title") Color :
    ul(class="details_variant_color")
      li.active(style="background: red;")
      li(style="background: orange;")
      li(style="background: green;")
      li(style="background: black;")
  div(class="details_single_variant")
    p(class="variant_title") Size :
    ul(class="details_variant_size")
      li s
      li.active M
      li L
      li xl
      li xxl
  .d-flex.flex-wrap.align-items-center
    div(class="details_qty_input")
      button.minus
        i.fal.fa-minus
      input(
        placeholder="01" 
        type="text"
        )
      button.plus
        i.fal.fa-plus
    div(class="details_btn_area")
      a(
        href="#" 
        class="common_btn buy_now"
        )
        | Buy Now
        i.fas.fa-long-arrow-right
      a(
        href="#" 
        class="common_btn"
        )
        | Add to cart
        i.fas.fa-long-arrow-right
  ul(class="details_list_btn")
    li
      a(href="#")
        i.fal.fa-heart
        | Add Wishlist
    li
      a(href="#")
        i.fal.fa-exchange
        | Compare
    li
      a(href="#")
        i.fal.fa-question-circle
        | Ask a question
  ul(class="details_tags_sku")
    li
      span SKU:
      | HRYUSG67EG
    li
      span Category:
      | Fashion
    li
      span Tag:
      | Clothing
  ul(class="shop_details_shate")
    li Share:
    li
      a(href="#")
        i.fab.fa-facebook-f
    li
      a(href="#")
        i.fab.fa-twitter
    li
      a(href="#")
        i.fab.fa-instagram
    li
      a(href="#")
        i.fab.fa-whatsapp
