div(class="shop_details_text")
  //- p.category Computers & Tablets
  h2(class="details_title") #{productDetail.name}
  .d-flex.flex-wrap.align-items-center
    if(productDetail.stock > 0)
      p.stock Còn hàng (#{productDetail.stock})
    // <p class="out_stock stock">out of Stock</p>
    p.rating
      i.fas.fa-star
      i.fas.fa-star
      i.fas.fa-star
      i.fas.fa-star
      i.fas.fa-star
      span (0 Đánh giá)
  h3.price
    | #{productDetail.priceNew.toLocaleString("vi-VN")}đ
    del #{productDetail.priceOld.toLocaleString("vi-VN")}đ
  div(class="short_description")
    | !{productDetail.description}
  each attribute in attributeList
    div(class="details_single_variant")
      p(class="variant_title") #{attribute.name} :
      if (attribute.type == "color")
        ul(class="details_variant_color")
          each variant in attribute.variants
            li(style=`background: ${variant};`)
      else if (attribute.type == "text")
        ul(class="details_variant_size")
          each variantLabel in attribute.variantsLabel
            li #{variantLabel}
  .d-flex.flex-wrap.align-items-center
    div(class="details_qty_input")
      button.minus
        i.fal.fa-minus
      input(
        placeholder="01" 
        type="text"
        )
      button.plus
        i.fal.fa-plus
    div(class="details_btn_area")
      a(
        href="#" 
        class="common_btn buy_now"
        )
        | Mua ngay
        i.fas.fa-long-arrow-right
      a(
        href="#" 
        class="common_btn"
        )
        | Thêm vào giỏ
        i.fas.fa-long-arrow-right
  ul(class="details_list_btn")
    li
      a(href="#")
        i.fal.fa-heart
        | Yêu thích
    li
      a(href="#")
        i.fal.fa-exchange
        | So sánh
    li
      a(href="#")
        i.fal.fa-question-circle
        | Hỏi đáp
  ul(class="details_tags_sku")
    li
      span SKU:
      | #{productDetail.sku}
    li
      span Danh mục:
      each category in productDetail.categoryList
        a(href=`/product/category/${category.slug}` class="badge text-bg-info mr-1 mb-1") #{category.name}
    li
      span Nhãn:
      each tag in productDetail.tags
        span(class="badge text-bg-warning") #{tag}
  ul(class="shop_details_shate")
    li Chia sẻ:
    li
      a(
        button-share
        href=`https://www.facebook.com/sharer/sharer.php?u=`
        target="_blank"
        rel="noopener noreferrer"
      )
        i.fab.fa-facebook-f(aria-hidden="true")
    li
      a(
        button-share
        href=`https://twitter.com/intent/tweet?url=`
        target="_blank"
        rel="noopener noreferrer"
      )
        i.fab.fa-twitter(aria-hidden="true")
    li
      a(
        button-share
        href=`https://www.linkedin.com/shareArticle?url=`
        target="_blank"
        rel="noopener noreferrer"
      )
        i.fab.fa-linkedin-in(aria-hidden="true")
    li
      a(
        button-share
        href=`https://pinterest.com/pin/create/button/?url=`
        target="_blank"
        rel="noopener noreferrer"
      )
        i.fab.fa-pinterest
