div(class="shop_details_slider_area")
  .row
    .col-xl-2.col-lg-3.col-md-3.order-2.order-md-1
      .row(class="details_slider_nav")
        .col-12
          div(class="details_slider_nav_item")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_1-1.png"
              )
        .col-12
          div(class="details_slider_nav_item")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_1-2.png"
              )
        .col-12
          div(class="details_slider_nav_item")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_1-3.png"
              )
        .col-12
          div(class="details_slider_nav_item")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_1-4.png"
              )
        .col-12
          div(class="details_slider_nav_item")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_1-5.png"
              )
        .col-12
          div(class="details_slider_nav_item")
            img.img-fluid.w-100(
              alt="Product" 
              src="/client/assets/images/product_1-6.png"
              )
    .col-xl-10.col-lg-9.col-md-9.order-md-1
      .row(class="details_slider_thumb")
        .col-12
          div(class="details_slider_thumb_item")
            img.img-fluid.w-100(
              alt="Dress" 
              src="/client/assets/images/product_1-1.png"
              )
        .col-12
          div(class="details_slider_thumb_item")
            img.img-fluid.w-100(
              alt="Dress" 
              src="/client/assets/images/product_1-2.png"
              )
        .col-12
          div(class="details_slider_thumb_item")
            img.img-fluid.w-100(
              alt="Dress" 
              src="/client/assets/images/product_1-3.png"
              )
        .col-12
          div(class="details_slider_thumb_item")
            img.img-fluid.w-100(
              alt="Dress" 
              src="/client/assets/images/product_1-4.png"
              )
        .col-12
          div(class="details_slider_thumb_item")
            img.img-fluid.w-100(
              alt="Dress" 
              src="/client/assets/images/product_1-5.png"
              )
        .col-12
          div(class="details_slider_thumb_item")
            img.img-fluid.w-100(
              alt="Dress" 
              src="/client/assets/images/product_1-6.png"
              )
