div(class="shop_details_des_area")
  ul#pills-tab2.nav.nav-pills(role="tablist")
    li.nav-item(role="presentation")
      button#description-tab.nav-link.active(
        aria-selected="false" 
        aria-controls="description" 
        role="tab" 
        type="button" 
        data-bs-target="#description" 
        data-bs-toggle="pill"
        ) Description
    li.nav-item(role="presentation")
      button#description-tab2.nav-link(
        aria-selected="false" 
        aria-controls="description2" 
        role="tab" 
        type="button" 
        data-bs-target="#description2" 
        data-bs-toggle="pill"
        ) Additional info
    li.nav-item(role="presentation")
      button#description-tab3.nav-link(
        aria-selected="false" 
        aria-controls="description3" 
        role="tab" 
        type="button" 
        data-bs-target="#description3" 
        data-bs-toggle="pill"
        ) Vendor
    li.nav-item(role="presentation")
      button#description-tab4.nav-link(
        aria-selected="false" 
        aria-controls="description4" 
        role="tab" 
        type="button" 
        data-bs-target="#description4" 
        data-bs-toggle="pill"
        ) Reviews
  #pills-tabContent2.tab-content
    #description.tab-pane.fade.show.active(
      tabindex="0" 
      aria-labelledby="description-tab" 
      role="tabpanel"
      )
      div(class="shop_details_description")
        h3 Description
        p
          | Uninhibited carnally hired played in whimpered dear gorilla koala
          |   depending and much yikes off far quetzal goodness and from for grimaced
          |   goodness unaccountably and meadowlark near unblushingly crucial scallop
          |   tightly neurotic hungrily some and dear furiously this apart.
        ul
          li Organic raw pecans, organic raw cashews.
          li
            | This butter was produced using a LTG (Low Temperature Grinding)
            |   process
          li
            | Made in machinery that processes tree nuts but does not process
            |   peanuts, gluten, dairy or soy
        p
          | Laconic overheard dear woodchuck wow this outrageously taut beaver hey
          |   hello far meadowlark imitatively egregiously hugged that yikes minimally
          |   unanimous pouted flirtatiously as beaver beheld above forward energetic
          |   across this jeepers beneficently cockily less a the raucously that
          |   magic.
        h3 Packaging & Delivery
        p
          | Less lion goodness that euphemistically robin expeditiously bluebird
          |   smugly scratched far while thus cackled sheepishly rigid after due one
          |   assenting regarding censorious while occasional or this more crane went
          |   more as this less much amid overhung anathematic because much held one
          |   exuberantly sheep goodness so where rat wry well concomitantly.
        ul
          li
            | This butter was produced using a LTG (Low Temperature Grinding)
            |   process
          li
            | Made in machinery that processes tree nuts but does not process
            |   peanuts, gluten, dairy or soy
        h3 Suggested Use
        ul
          li Refrigeration not necessary.
          li Stir before serving
        h3 Other Ingredients
        ul
          li Organic raw pecans, organic raw cashews.
          li
            | This butter was produced using a LTG (Low Temperature Grinding)
            |   process
          li
            | Made in machinery that processes tree nuts but does not process
            |   peanuts, gluten, dairy or soy
        h3 Warnings
        ul
          li Oil separation occurs naturally. May contain pieces of shell.
    #description2.tab-pane.fade(
      tabindex="0" 
      aria-labelledby="description-tab2" 
      role="tabpanel"
      )
      div(class="shop_details_additional_info")
        .table-responsive
          table.table.table-striped
            tbody
              tr
                th Stand Up
                td 35″L x 24″W x 37-45″H(front to back wheel)
              tr
                th Folded (w/o wheels)
                td 32.5″L x 18.5″W x 16.5″H
              tr
                th Folded (w/ wheels)
                td 32.5″L x 24″W x 18.5″H
              tr
                th Door Pass Through
                td 24
              tr
                th Frame
                td Aluminum
              tr
                th Weight (w/o wheels)
                td 20 LBS
              tr
                th Weight Capacity
                td 40 LBS
              tr
                th Width
                td 24″
              tr
                th Handle height (ground to handle)
                td 37-45″
              tr
                th Wheels
                td 12″ air / wide track slick tread
              tr
                th Seat back height
                td 21.5″
              tr
                th Head room (inside canopy)
                td 25″
              tr
                th Color
                td Black, Blue, Red, White
              tr
                th Size
                td M, S
    #description3.tab-pane.fade(
      tabindex="0" 
      aria-labelledby="description-tab3" 
      role="tabpanel"
      )
      div(class="shop_details_vendor")
        div(class="shop_details_vendor_logo_area")
          .img
            img.img-fluid(
              alt="Vendor" 
              src="/client/assets/images/brand7.png"
              )
          h3
            | Zapier Gallery
            span
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              b (20 reviews)
        ul(class="shop_details_vendor_address")
          li
            svg.size-6(
              stroke="currentColor" 
              stroke-width="1.5" 
              viewBox="0 0 24 24" 
              fill="none" 
              xmlns="http://www.w3.org/2000/svg"
              )
              path(
                d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" 
                stroke-linejoin="round" 
                stroke-linecap="round"
                )
              path(
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" 
                stroke-linejoin="round" 
                stroke-linecap="round"
                )
            span Address:
            | 37 W 24th St, New York, NY
          li
            svg.size-6(
              stroke="currentColor" 
              stroke-width="1.5" 
              viewBox="0 0 24 24" 
              fill="none" 
              xmlns="http://www.w3.org/2000/svg"
              )
              path(
                d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" 
                stroke-linejoin="round" 
                stroke-linecap="round"
                )
            span Email:
            | info@Zenis.com
          li
            svg.size-6(
              stroke="currentColor" 
              stroke-width="1.5" 
              viewBox="0 0 24 24" 
              fill="none" 
              xmlns="http://www.w3.org/2000/svg"
              )
              path(
                d="M15.75 3.75 18 6m0 0 2.25 2.25M18 6l2.25-2.25M18 6l-2.25 2.25m1.5 13.5c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" 
                stroke-linejoin="round" 
                stroke-linecap="round"
                )
            span Contact Seller:
            | +123 324 5879 39
        ul(class="shop_details_vendor_rating")
          li
            span Rating
            | 92%
          li
            span Ship on time
            | 100%
          li
            span Chat response
            | 97%
        p(class="shop_details_vendor_description")
          | Noodles & Company is an American fast-casual restaurant that offers
          |   international and American noodle dishes and pasta in addition to soups
          |   and salads. Noodles & Company was founded in 1995 by Aaron Kennedy and
          |   is headquartered in Broomfield, Colorado. The company went public in
          |   2013 and recorded a $457 million revenue in 2017.In late 2018, there
          |   were 460 Noodles & Company locations across 29 states and Washington,
          |   D.C.
    #description4.tab-pane.fade(
      tabindex="0" 
      aria-labelledby="description-tab4" 
      role="tabpanel"
      )
      div(class="shop_details_review")
        div(class="single_review_list_area")
          h3 Customer Reviews
          div(class="single_review")
            .img
              img.img-fluid.w-100(
                alt="Reviews" 
                src="/client/assets/images/testimonial_img_2.jpg"
                )
            .text
              h5
                | sumona islam
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
              p.date 05 January 2025
              p.description
                | Lorem ipsum dolor sit amet,
                |   consectetur adipisicing elit. Delectus
                |   exercitationem accusantium obcaecati quos voluptate
                |   nesciunt facilis itaque.
              ul
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_13.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_9.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_20.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_24.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_6.png"
                    )
          div(class="single_review")
            .img
              img.img-fluid.w-100(
                alt="Reviews" 
                src="/client/assets/images/comment_1.png"
                )
            .text
              h5
                | Smith Jhon
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
              p.date 03 April 2025
              p.description
                | Lorem ipsum dolor sit amet,
                |   consectetur adipisicing elit. Delectus
                |   exercitationem accusantium obcaecati quos voluptate.
              ul
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_20.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_24.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_6.png"
                    )
          div(class="single_review")
            .img
              img.img-fluid.w-100(
                alt="Reviews" 
                src="/client/assets/images/comment_2.png"
                )
            .text
              h5
                | arun singh
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
              p.date 10 March 2025
              p.description
                | Lorem ipsum dolor sit amet,
                |   consectetur adipisicing elit. Delectus
                |   exercitationem accusantium obcaecati quos voluptate
                |   nesciunt facilis itaque
              ul
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_13.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_9.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_20.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_24.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_6.png"
                    )
          div(class="single_review")
            .img
              img.img-fluid.w-100(
                alt="Reviews" 
                src="/client/assets/images/testimonial_img_2.jpg"
                )
            .text
              h5
                | sumona islam
                span
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
              p.date 05 January 2025
              p.description
                | Lorem ipsum dolor sit amet,
                |   consectetur adipisicing elit. Delectus
                |   exercitationem accusantium obcaecati quos voluptate
                |   nesciunt facilis itaque.
              ul
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_9.png"
                    )
                li
                  img.img-fluid.w-100(
                    alt="Image" 
                    src="/client/assets/images/product_20.png"
                    )
          .row
            div(class="pagination_area")
              nav(aria-label="...")
                ul.pagination.justify-content-start(class="mt_25")
                  li.page-item
                    a.page-link(href="#")
                      i.far.fa-arrow-left
                  li.page-item
                    a.page-link.active(href="#") 01
                  li.page-item
                    a.page-link(href="#") 02
                  li.page-item
                    a.page-link(href="#") 03
                  li.page-item
                    a.page-link(href="#")
                      i.far.fa-arrow-right
