div(id="sticky_sidebar")
  .wow.fadeInRight(class="blog_details_right")
    form(action="#")
      input(
        placeholder="Search..." 
        type="text"
        )
      button(type="submit")
        i.far.fa-search(aria-hidden="true")
    div(class="blog_details_right_header sidebar_blog")
      h3 Popular Blog
      .d-flex.flex-wrap(class="popular_blog")
        div(class="popular_blog_img")
          img.img-fluid.w-100(
            alt="img" 
            src="/client/assets/images/blog_img_1.png"
            )
        div(class="popular_blog_text")
          p
            span
              img.img-fluid.w-100(
                alt="icon" 
                src="/client/assets/images/calender.png"
                )
            | March 23, 2024
          a.title(href="blog_details.html")
            | The Best Delicious Coffee Shop In
            |   Bangkok
            |   China.
      .d-flex.flex-wrap(class="popular_blog")
        div(class="popular_blog_img")
          img.img-fluid.w-100(
            alt="img" 
            src="/client/assets/images/blog_img_2.png"
            )
        div(class="popular_blog_text")
          p
            span
              img.img-fluid.w-100(
                alt="icon" 
                src="/client/assets/images/calender.png"
                )
            | March 24, 2024
          a.title(href="blog_details.html")
            | Luxury top-floor properties
            |   available for
            |   purchase.
      .d-flex.flex-wrap(class="popular_blog")
        div(class="popular_blog_img")
          img.img-fluid.w-100(
            alt="img" 
            src="/client/assets/images/blog_img_3.png"
            )
        div(class="popular_blog_text")
          p
            span
              img.img-fluid.w-100(
                alt="icon" 
                src="/client/assets/images/calender.png"
                )
            | March 25, 2024
          a.title(href="blog_details.html")
            | Skills that you can learn the
            |   Real Estate
            |   Market.
    div(class="blog_details_right_header")
      h3 Property Categories
      ul(class="sidebar_blog_category")
        li
          a(href="#")
            p Make up
            span (07)
        li
          a(href="#")
            p Skin care
            span (14)
        li
          a(href="#")
            p Fashion and beauty
            span (34)
        li
          a(href="#")
            p Cosnetics
            span (05)
        li
          a(href="#")
            p Body care
            span (18)
    div(class="blog_details_right_header")
      h3 Popular Tags
      ul.d-flex.flex-wrap(class="blog_details_tag")
        li
          a(href="#") Cleansing
        li
          a(href="#") Make up
        li
          a(href="#") eye cream
        li
          a(href="#") nail
        li
          a(href="#") shampoo
        li
          a(href="#") coffee bean
        li
          a(href="#") healthy
        li
          a(href="#") skin care
        li
          a(href="#") Cosmetics
    div(class="blog_details_right_header")
      div(class="blog_seidebar_add")
        img.img-fluid.w-100(
          alt="blog add" 
          src="/client/assets/images/blog_sidebar_add_img.png"
          )
        .text
          h4 Will help enhance your beauty.
          a(
            tabindex="-1" 
            href="shop_details.html" 
            class="common_btn"
            )
            | shop now
            i.fas.fa-long-arrow-right(aria-hidden="true")
