div(id="sticky_sidebar")
  .d-lg-none(class="shop_filter_btn") Filter
  div(class="shop_filter_area")
    div(class="sidebar_range")
      h3 Price Range
      div(class="range_slider")
    div(class="sidebar_status")
      h3 Product Status
      .form-check
        input#flexCheckDefault.form-check-input(
          value="" 
          type="checkbox"
          )
        label.form-check-label(for="flexCheckDefault") On sale
      .form-check
        input#flexCheckChecked.form-check-input(
          value="" 
          type="checkbox"
          )
        label.form-check-label(for="flexCheckChecked") In Stock
    div(class="sidebar_category")
      h3 Categories
      ul
        li
          a(href="#")
            | Men’s Fashion
            span 20
        li
          a(href="#")
            | western wear
            span 09
        li
          a(href="#")
            | skin care
            span 04
        li
          a(href="#")
            | sport wear
            span 13
        li
          a(href="#")
            | fashion jewellery
            span 36
        li
          a(href="#")
            | beauty Care
            span 22
        li
          a(href="#")
            | Makeoup Tools
            span 16
        li
          a(href="#")
            | Winter collention
            span 27
        li
          a(href="#")
            | Men’s Fashion
            span 20
        li
          a(href="#")
            | western wear
            span 09
        li
          a(href="#")
            | skin care
            span 04
        li
          a(href="#")
            | sport wear
            span 13
        li
          a(href="#")
            | fashion jewellery
            span 36
        li
          a(href="#")
            | beauty Care
            span 22
        li
          a(href="#")
            | Makeoup Tools
            span 16
        li
          a(href="#")
            | Winter collention
            span 27
    div(class="sidebar_color")
      h3 Filter by Color
      ul
        li
          .form-check
            input.form-check-input(
              style="background-color: #DB4437;" 
              id="color_1" 
              value="" 
              type="checkbox"
              )
            label.form-check-label(for="color_1") Red
          span 03
        li
          .form-check
            input.form-check-input(
              style="background-color: #41CF0F;" 
              id="color_2" 
              checked="" 
              value="" 
              type="checkbox"
              )
            label.form-check-label(for="color_2") green
          span 17
        li
          .form-check
            input.form-check-input(
              style="background-color: #8e8e8e;" 
              id="color_3" 
              value="" 
              type="checkbox"
              )
            label.form-check-label(for="color_3") gray
          span 06
        li
          .form-check
            input.form-check-input(
              style="background-color: #ffa500;" 
              id="color_4" 
              checked="" 
              value="" 
              type="checkbox"
              )
            label.form-check-label(for="color_4") Orange
          span 09
        li
          .form-check
            input.form-check-input(
              style="background-color: #B615FD;" 
              id="color_5" 
              value="" 
              type="checkbox"
              )
            label.form-check-label(for="color_5") purple
          span 42
        li
          .form-check
            input.form-check-input(
              style="background-color: #FFD747;" 
              id="color_6" 
              value="" 
              type="checkbox"
              )
            label.form-check-label(for="color_6") Yellow
          span 23
        li
          .form-check
            input.form-check-input(
              style="background-color: #AB9774;" 
              id="color_7" 
              value="" 
              type="checkbox"
              )
            label.form-check-label(for="color_7") Olive
          span 06
        li
          .form-check
            input.form-check-input(
              style="background-color: #1C58F2;" 
              id="color_8" 
              value="" 
              type="checkbox"
              )
            label.form-check-label(for="color_8") Dark Blue
          span 25
    div(class="sidebar_rating")
      h3 Rating
      .form-check
        input#defaultCheck4.form-check-input(
          value="" 
          type="checkbox"
          )
        label.form-check-label(for="defaultCheck4")
          i.fas.fa-star(aria-hidden="true")
          | 5 star
      .form-check
        input#defaultCheck5.form-check-input(
          value="" 
          type="checkbox"
          )
        label.form-check-label(for="defaultCheck5")
          i.fas.fa-star(aria-hidden="true")
          | 4 star or above
      .form-check
        input#defaultCheck6.form-check-input(
          value="" 
          type="checkbox"
          )
        label.form-check-label(for="defaultCheck6")
          i.fas.fa-star(aria-hidden="true")
          | 3 star or above
      .form-check
        input#defaultCheck7.form-check-input(
          value="" 
          type="checkbox"
          )
        label.form-check-label(for="defaultCheck7")
          i.fas.fa-star(aria-hidden="true")
          | 2 star or above
      .form-check
        input#defaultCheck8.form-check-input(
          value="" 
          type="checkbox"
          )
        label.form-check-label(for="defaultCheck8")
          i.fas.fa-star(aria-hidden="true")
          | 1 star or above
    div(class="sidebar_related_product")
      h3 Top Rated Products
      ul
        li
          a.img(href="shop_details.html")
            img.img-fluid(
              alt="Product" 
              src="/client/assets/images/product_18.png"
              )
          .text
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (29)
            a.title(href="shop_details.html") Kid's Western Party Dress
            p.price $59.00
        li
          a.img(href="shop_details.html")
            img.img-fluid(
              alt="Product" 
              src="/client/assets/images/product_23.png"
              )
          .text
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (12)
            a.title(href="shop_details.html") Kid's dresses for summer
            p.price $54.00
        li
          a.img(href="shop_details.html")
            img.img-fluid(
              alt="Product" 
              src="/client/assets/images/product_13.png"
              )
          .text
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (09)
            a.title(href="shop_details.html") Sharee Petticoat For Women
            p.price $28.00
        li
          a.img(href="shop_details.html")
            img.img-fluid(
              alt="Product" 
              src="/client/assets/images/product_7.png"
              )
          .text
            p.rating
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              i.far.fa-star
              span (35)
            a.title(href="shop_details.html") Denim 2 Quarter Pant
            p.price $54.00
