div(id="sticky_sidebar_2")
  div(class="shop_details_sidebar")
    .row
      .col-xxl-12.col-md
        div(class="shop_details_sidebar_info")
          ul
            li
              span
                svg.size-6(
                  stroke="currentColor" 
                  stroke-width="1.5" 
                  viewBox="0 0 24 24" 
                  fill="none" 
                  xmlns="http://www.w3.org/2000/svg"
                  )
                  path(
                    d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" 
                    stroke-linejoin="round" 
                    stroke-linecap="round"
                    )
              | Shipping worldwide
            li
              span
                svg.size-6(
                  stroke="currentColor" 
                  stroke-width="1.5" 
                  viewBox="0 0 24 24" 
                  fill="none" 
                  xmlns="http://www.w3.org/2000/svg"
                  )
                  path(
                    d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" 
                    stroke-linejoin="round" 
                    stroke-linecap="round"
                    )
              | Always Authentic
            li
              span
                svg(
                  xml:space="preserve" 
                  viewBox="0 0 512.015 512.015" 
                  xmlns:xlink="http://www.w3.org/1999/xlink" 
                  xmlns="http://www.w3.org/2000/svg" 
                  id="Layer_1" 
                  version="1.1" 
                  width="800px" 
                  height="800px" 
                  fill="#7D7B7B"
                  )
                  g
                    g
                      g
                        path(
                          d="M341.333,273.074c75.281,0,136.533-61.252,136.533-136.533S416.614,0.008,341.333,0.008 C266.052,0.008,204.8,61.26,204.8,136.541S266.052,273.074,341.333,273.074z M341.333,17.074 c65.877,0,119.467,53.589,119.467,119.467s-53.589,119.467-119.467,119.467s-119.467-53.589-119.467-119.467 S275.456,17.074,341.333,17.074z"
                          )
                        path(
                          d="M507.426,358.408c-9.412-16.316-30.362-21.888-46.089-12.774l-98.219,47.804c-15.266,7.637-30.677,7.637-64.452,7.637 c-33.015,0-83.422-8.337-83.925-8.414c-4.693-0.759-9.054,2.372-9.822,7.006c-0.777,4.651,2.364,9.054,7.006,9.822 c2.125,0.358,52.301,8.653,86.741,8.653c35.43,0,53.214,0,72.004-9.395l98.662-48.051c3.942-2.278,8.542-2.884,12.954-1.707 c4.395,1.186,8.081,4.011,10.351,7.953c2.287,3.951,2.893,8.55,1.715,12.954s-4.002,8.081-8.192,10.505l-115.379,71.808 c-0.239,0.162-24.858,15.667-80.648,15.667c-48.367,0-123.11-41.182-124.186-41.771c-0.768-0.375-19.277-9.429-55.014-9.429 c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533c31.036,0,47.027,7.467,47.061,7.467v-0.009 c3.217,1.792,79.334,43.742,132.139,43.742c61.611,0,88.934-17.749,89.839-18.355l114.961-71.552 c7.893-4.557,13.542-11.921,15.898-20.719C513.203,375.5,511.983,366.301,507.426,358.408z"
                          )
                        path(
                          d="M341.333,179.208c-9.412,0-17.067-7.654-17.067-17.067c0-4.71-3.814-8.533-8.533-8.533s-8.533,3.823-8.533,8.533 c0,15.855,10.914,29.107,25.6,32.922v1.212c0,4.71,3.814,8.533,8.533,8.533c4.719,0,8.533-3.823,8.533-8.533v-1.212 c14.686-3.814,25.6-17.067,25.6-32.922c0-18.825-15.309-34.133-34.133-34.133c-9.412,0-17.067-7.654-17.067-17.067 c0-9.412,7.654-17.067,17.067-17.067c9.412,0,17.067,7.654,17.067,17.067c0,4.71,3.814,8.533,8.533,8.533 s8.533-3.823,8.533-8.533c0-15.855-10.914-29.107-25.6-32.922v-1.212c0-4.71-3.814-8.533-8.533-8.533 c-4.719,0-8.533,3.823-8.533,8.533v1.212c-14.686,3.814-25.6,17.067-25.6,32.922c0,18.825,15.309,34.133,34.133,34.133 c9.412,0,17.067,7.654,17.067,17.067C358.4,171.553,350.746,179.208,341.333,179.208z"
                          )
                        path(
                          d="M59.733,273.074h-51.2c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533h51.2c4.702,0,8.533,3.831,8.533,8.533 v187.733c0,4.702-3.831,8.533-8.533,8.533h-51.2c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533h51.2 c14.114,0,25.6-11.486,25.6-25.6V298.674C85.333,284.56,73.847,273.074,59.733,273.074z"
                          )
                        path(
                          d="M110.933,324.274H179.2c9.958,0,26.88,12.698,41.813,23.893c18.722,14.046,36.412,27.307,52.053,27.307h51.2 c12.962,0,19.396,5.879,19.567,6.033c1.664,1.664,3.849,2.5,6.033,2.5c2.185,0,4.369-0.836,6.033-2.5 c3.336-3.337,3.336-8.73,0-12.066c-1.126-1.126-11.605-11.034-31.633-11.034h-51.2c-9.958,0-26.88-12.698-41.813-23.893 c-18.722-14.046-36.412-27.307-52.053-27.307h-68.267c-4.71,0-8.533,3.823-8.533,8.533S106.223,324.274,110.933,324.274z"
                          )
                        path(
                          d="M42.667,456.541c0-7.057-5.743-12.8-12.8-12.8c-7.057,0-12.8,5.743-12.8,12.8c0,7.057,5.743,12.8,12.8,12.8 C36.924,469.341,42.667,463.598,42.667,456.541z"
                          )
              | Cash on Delivery Available
          h5 Return & Warranty
          ul
            li
              span
                svg.size-6(
                  stroke="currentColor" 
                  stroke-width="1.5" 
                  viewBox="0 0 24 24" 
                  fill="none" 
                  xmlns="http://www.w3.org/2000/svg"
                  )
                  path(
                    d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" 
                    stroke-linejoin="round" 
                    stroke-linecap="round"
                    )
              | 14 days easy return
            li
              span
                svg.size-6(
                  stroke="currentColor" 
                  stroke-width="1.5" 
                  viewBox="0 0 24 24" 
                  fill="none" 
                  xmlns="http://www.w3.org/2000/svg"
                  )
                  path(
                    d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z" 
                    stroke-linejoin="round" 
                    stroke-linecap="round"
                    )
              | Warranty not available
      .col-xxl-12.col-md
        div(class="shop_details_sidebar_store")
          p(class="sold_by") Sold by
          h4(class="store_name") Zapier Gallery
          ul
            li
              p Positive Seller Ratings
              // <span>New Seller</span>
              span 4.5 (320)
            li
              p Ship on Time
              span 100%
            li
              p Chat Response Rate
              span 90%
          a(
            href="vendor_details.html" 
            class="go_store"
            ) Go To Store
          a.chat(href="#")
            svg.size-6(
              stroke="currentColor" 
              stroke-width="1.5" 
              viewBox="0 0 24 24" 
              fill="none" 
              xmlns="http://www.w3.org/2000/svg"
              )
              path(
                d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" 
                stroke-linejoin="round" 
                stroke-linecap="round"
                )
            | Chat Now
