doctype html
html(
  data-bs-theme="light" 
  data-startbar="light" 
  dir="ltr" 
  lang="en"
  )
  head
    script.
      const pathAdmin = "#{pathAdmin}"
      const domainCDN = "#{domainCDN}"
    meta(charset="utf-8")
    title #{pageTitle}
    meta(
      content="width=device-width, initial-scale=1, shrink-to-fit=no" 
      name="viewport"
      )
    meta(
      name="description" 
      content="Premium Multipurpose Admin & Dashboard Template"
      )
    meta(
      name="author" 
      content=""
      )
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    // App favicon
    link(
      href="/admin/assets/images/favicon.ico" 
      rel="shortcut icon"
      )
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css")
    link(href="https://releases.transloadit.com/uppy/v5.1.11/uppy.min.css" rel="stylesheet")
    link(href="https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.css" rel="stylesheet")
    link(rel="stylesheet" href="/admin/assets/libs/vanillajs-datepicker/css/datepicker.min.css")
    // App css
    link(
      type="text/css" 
      rel="stylesheet" 
      href="/admin/assets/css/bootstrap.min.css"
      )
    link(
      type="text/css" 
      rel="stylesheet" 
      href="/admin/assets/css/icons.min.css"
      )
    link(
      type="text/css" 
      rel="stylesheet" 
      href="/admin/assets/css/app.min.css"
      )
    link(
      type="text/css" 
      rel="stylesheet" 
      href="/admin/assets/css/main.css"
      )
  // Top Bar Start
  body
    // Top Bar Start
    include ../partials/topbar.pug
    // Top Bar End
    // leftbar-tab-menu
    include ../partials/startbar.pug
    // end leftbar-tab-menu
    .page-wrapper
      // Page Content
      .page-content
        .container-xxl

        block main

        // container
        // Start Footer
        include ../partials/footer.pug
        // end footer
      // end page content
    // end page-wrapper

    include ../partials/modal-file-manager.pug

    // Javascript
    // vendor js
    script(src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js")
    script(src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js")
    script(src="https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.js")
    script(src="/admin/assets/libs/vanillajs-datepicker/js/datepicker-full.min.js")
    script(src="https://cdn.tiny.cloud/1/93s3c2zvlmcrzq2f25uhooiivql6uyamcgrjbgd3dy4nstvc/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous")
    script(src="/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js")
    script(src="/admin/assets/libs/simplebar/simplebar.min.js")
    block script
    script(src="/admin/assets/js/app.js")
    script(src="/admin/assets/js/main.js")
    script(type="module" src="/admin/assets/js/uppy.js") 
  // end body