extends ../layouts/default.pug

block main
  if (permissions.includes("account-admin-change-password"))
    .card
      .card-header
        .row.align-items-center
          .col
            h4.card-title #{pageTitle}
      .card-body.pt-0
        form(id="accountAdminChangePasswordForm")
          .row
            .col-md-12.col-lg-12
              .mb-3 Họ tên: <b>#{accountDetail.fullName}</b>
            .col-md-12.col-lg-12
              .mb-3 Email: <b>#{accountDetail.email}</b>
            .col-md-6.col-lg-6.d-none
              .mb-3
                label.form-label(for="id") Id *
                input.form-control(id="id" type="text" name="id" value=accountDetail.id)
            .col-md-6.col-lg-6
              .mb-3
                label.form-label(for="password") Mật khẩu mới
                input.form-control(id="password" type="text" name="password")
          button.btn.btn-primary(type="submit") Cập nhật
          a.btn.btn-danger.ms-1(href=`/${pathAdmin}/account-admin/list`) Hủy
