extends ../layouts/default.pug
include ../mixins/pagination.pug

block main
  .row
    .col-12
      .card
        .card-header
          .row.align-items-center
            .col
              h4.card-title #{pageTitle}
            // end col
            .col-auto
              a.btn.btn-danger.me-1(
                href=`/${pathAdmin}/article/category/trash`
                )
                i.fa-solid.fa-trash.me-1
                | Thùng rác
              a.btn.btn-primary(
                href=`/${pathAdmin}/article/category/create`
                )
                i.fa-solid.fa-plus.me-1
                | Tạo danh mục
          // end row
        // end card-header
        .card-body.pt-0
          .row
            .col-lg-6
              form.input-group.mb-3(form-search)
                input.form-control(
                  placeholder="Từ khóa..."
                  type="text"
                  name="keyword"
                  )
                button.btn.btn-secondary Tìm kiếm
          //- Table
          .table-responsive
            table.table.table-striped.mb-0
              thead.table-light
                tr
                  th STT
                  th Tên danh mục
                  th Danh mục cha
                  th Trạng thái
                  th Lượt xem
                  th.text-end Hành động
              tbody
                each item, index in recordList
                  tr
                    td #{pagination.skip + index+1}
                    td #{item.name}
                    td #{item.parentName}
                    td
                      if (item.status == "active")
                        span.badge.bg-success Hoạt động
                      else if(item.status == "inactive")
                        span.badge.bg-danger Tạm dừng
                    td #{item.views}
                    td.text-end
                      a(href=`/${pathAdmin}/article/category/edit/${item.id}`)
                        i.las.la-pen.text-secondary.font-16
                      a(
                        href="javascript:;"
                        button-api
                        data-method="PATCH"
                        data-api=`/${pathAdmin}/article/category/delete/${item.id}`
                      )
                        i.las.la-trash-alt.text-secondary.font-16
          +pagination()
  // end /table
  // end col
