extends ../layouts/default.pug
include ../mixins/options.pug
include ../mixins/form-group.pug

block main
  if (permissions.includes("article-category-create"))
    .card
      .card-header
        .row.align-items-center
          .col
            h4.card-title #{pageTitle}
      .card-body.pt-0
        form(id="articleEditCategoryForm")
          .row
            .col-md-6.col-lg-6.d-none
              .mb-3
                label.form-label(for="id") Id *
                input.form-control(id="id" type="text" name="id" value=categroyDetail.id)
            .col-md-6.col-lg-6
              .mb-3
                label.form-label(for="name") Tên danh mục *
                input.form-control(id="name" type="text" name="name" value=categroyDetail.name)
            .col-md-6.col-lg-6
              .mb-3
                label.form-label(for="slug") Đường dẫn *
                .input-group
                  span.btn.btn-outline-info(
                    btn-generate-slug="CategoryBlog"
                    from="name"
                    to="slug"
                    ) Tự động
                  input.form-control(id="slug" type="text" name="slug" value=categroyDetail.slug)
            .col-md-6.col-lg-6
              .mb-3
                label.form-label(for="parent") Danh mục cha
                select.form-select(id="parent" name="parent" value=categroyDetail.parent)
                  option(value="") --Chọn danh mục--
                  +options(categoryList, 0, categroyDetail.parent)
            .col-md-6.col-lg-6
              .mb-3
                label.form-label(for="status") Trạng thái
                select.form-select(id="status" name="status")
                  option(value="active" selected=(categroyDetail.status == "active" ? true : false)) Hoạt động
                  option(value="inactive" selected=(categroyDetail.status == "inactive" ? true : false)) Tạm dừng
            .col-md-6.col-lg-6
              .mb-3
                +form-group-file(
                  "Ảnh đại diện", 
                  "avatar", 
                  "avatar",
                  categroyDetail.avatar
                  )
            .col-md-12.col-lg-12
              .mb-3
                label.form-label(for="description") Mô tả
                textarea.form-control(id="description" name="description" textarea-mce) #{categroyDetail  .description}
          button.btn.btn-primary(type="submit") Cập nhập
          a.btn.btn-danger.ms-1(href=`/${pathAdmin}/article/category`) Hủy
