extends ../layouts/default.pug

block main
  .row
    .col-md-12.col-lg-12.col-xl-4
    .row
      .col-md-12.col-lg-6.col-xl-12
        .card
          .card-body.border-dashed-bottom.pb-3
            .row.d-flex.justify-content-between
              .col-auto
                .d-flex.justify-content-center.align-items-center.thumb-xl.border.border-secondary.rounded-circle
                  i.icofont-money-bag.h1.align-self-center.mb-0.text-secondary
                h5.mt-2.mb-0.fs-14 Total Revenue
              // end col
              .col.align-self-center
                #line-1.apex-charts.float-end
              // end col
            // end row
          // end card-body
          .card-body
            .row.d-flex.justify-content-center
              .col-12.col-md-6
                h2.fs-22.mt-0.mb-1.fw-bold $8365.00
                p.mb-0.text-truncate.text-muted
                  span.text-success
                    i.mdi.mdi-trending-up
                    | 8.5%
                  | New Sessions
                  |   Today
              // end col
              .col-12.col-md-6.align-self-center.text-start.text-md-end
                button.btn.btn-primary.btn-sm.px-2.mt-2.mt-md-0(type="button")
                  | View
                  |   Report
              // end col
            // end row
          // end card-body
        // end card
      // end col
      .col-md-12.col-lg-6.col-xl-12
        .card
          .card-body.border-dashed-bottom.pb-3
            .row.d-flex.justify-content-between
              .col-auto
                .d-flex.justify-content-center.align-items-center.thumb-xl.border.border-secondary.rounded-circle
                  i.icofont-opencart.h1.align-self-center.mb-0.text-secondary
                h5.mt-2.mb-0.fs-14 New Order
              // end col
              .col.align-self-center
                #line-2.apex-charts.float-end
              // end col
            // end row
          // end card-body
          .card-body
            .row.d-flex.justify-content-center
              .col-12.col-md-6
                h2.fs-22.mt-0.mb-1.fw-bold 722
                p.mb-0.text-truncate.text-muted
                  span.text-success
                    i.mdi.mdi-trending-up
                    | 8.5%
                  | New Sessions
                  |   Today
              // end col
              .col-12.col-md-6.align-self-center.text-start.text-md-end
                button.btn.btn-outline-secondary.btn-sm.px-2.mt-2.mt-md-0(type="button")
                  | View
                  |   Report
              // end col
            // end row
          // end card-body
        // end card
      // end col
    // end row
    // end col
    .col-md-12.col-lg-12.col-xl-8
    .card
      .card-header
        .row.align-items-center
          .col
            h4.card-title Monthly Avg. Income
          // end col
          .col-auto
            .dropdown
              a.btn.bt.btn-light.dropdown-toggle(
                aria-expanded="false" 
                aria-haspopup="true" 
                data-bs-toggle="dropdown" 
                href="#"
                )
                i.icofont-calendar.fs-5.me-1
                | This Year
                i.las.la-angle-down.ms-1
              .dropdown-menu.dropdown-menu-end
                a.dropdown-item(href="#") Today
                a.dropdown-item(href="#") Last Week
                a.dropdown-item(href="#") Last Month
                a.dropdown-item(href="#") This Year
          // end col
        // end row
      // end card-header
      .card-body.pt-0
        .apex-charts(id="monthly_income")
        .row
          .col-md-6.col-lg-3
            .card.shadow-none.border.mb-3.mb-lg-0
              .card-body
                .row.align-items-center
                  .col.text-center
                    span.fs-18.fw-semibold $24,500
                    h6.text-uppercase.text-muted.mt-2.m-0 Today's Revenue
                  // end col
                // end row
              // end card-body
            // end card-body
          // end col
          .col-md-6.col-lg-3
            .card.shadow-none.border.mb-3.mb-lg-0
              .card-body
                .row.align-items-center
                  .col.text-center
                    span.fs-18.fw-semibold 82.8%
                    h6.text-uppercase.text-muted.mt-2.m-0 Conversion Rate
                  // end col
                // end row
              // end card-body
            // end card-body
          // end col
          .col-md-6.col-lg-3
            .card.shadow-none.border.mb-3.mb-lg-0
              .card-body
                .row.align-items-center
                  .col.text-center
                    span.fs-18.fw-semibold $9982.00
                    h6.text-uppercase.text-muted.mt-2.m-0 Total Expenses
                  // end col
                // end row
              // end card-body
            // end card
          // end col
          .col-md-6.col-lg-3
            .card.shadow-none.border.mb-3.mb-lg-0
              .card-body
                .row.align-items-center
                  .col.text-center
                    span.fs-18.fw-semibold $80.5
                    h6.text-uppercase.text-muted.mt-2.m-0 Avg. Value
                  // end col
                // end row
              // end card-body
            // end card-body
          // end col
        // end row
      // end card-body
    // end card
    // end col
  // end row
  .row.justify-content-center
  .col-md-6.col-lg-8
    .card
      .card-header
        .row.align-items-center
          .col
            h4.card-title Popular Products
          // end col
          .col-auto
            .dropdown
              a.btn.bt.btn-light.dropdown-toggle(
                aria-expanded="false" 
                aria-haspopup="true" 
                data-bs-toggle="dropdown" 
                href="#"
                )
                i.icofont-calendar.fs-5.me-1
                | This Year
                i.las.la-angle-down.ms-1
              .dropdown-menu.dropdown-menu-end
                a.dropdown-item(href="#") Today
                a.dropdown-item(href="#") Last Week
                a.dropdown-item(href="#") Last Month
                a.dropdown-item(href="#") This Year
          // end col
        // end row
      // end card-header
      .card-body.pt-0
        .table-responsive
          table.table.mb-0
            thead.table-light
              tr
                th.border-top-0 Product
                th.border-top-0 Price
                th.border-top-0 Sell
                th.border-top-0 Status
                th.border-top-0 Action
              // end tr
            tbody
              tr
                td
                  .d-flex.align-items-center
                    img.me-3.align-self-center.rounded(
                      alt="..." 
                      height="40" 
                      src="/admin/assets/images/products/01.png"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0 History Book
                      a.fs-12.text-primary(href="#") ID: A3652
                    // end media body
                td
                  | $50
                  del.text-muted.fs-10 $70
                td
                  | 450
                  small.text-muted (550)
                td
                  span.badge.bg-primary-subtle.text-primary.px-2 Stock
                td
                  a(href="#")
                    i.las.la-pen.text-secondary.fs-18
                  a(href="#")
                    i.las.la-trash-alt.text-secondary.fs-18
              // end tr
              tr
                td
                  .d-flex.align-items-center
                    img.me-3.align-self-center.rounded(
                      alt="..." 
                      height="40" 
                      src="/admin/assets/images/products/02.png"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0 Colorful Pots
                      a.fs-12.text-primary(href="#") ID: A5002
                    // end media body
                td
                  | $99
                  del.text-muted.fs-10 $150
                td
                  | 750
                  small.text-muted (00)
                td
                  span.badge.bg-danger-subtle.text-danger.px-2
                    | Out of
                    |   Stock
                td
                  a(href="#")
                    i.las.la-pen.text-secondary.fs-18
                  a(href="#")
                    i.las.la-trash-alt.text-secondary.fs-18
              // end tr
              tr
                td
                  .d-flex.align-items-center
                    img.me-3.align-self-center.rounded(
                      alt="..." 
                      height="40" 
                      src="/admin/assets/images/products/04.png"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0 Pearl Bracelet
                      a.fs-12.text-primary(href="#") ID: A6598
                    // end media body
                td
                  | $199
                  del.text-muted.fs-10 $250
                td
                  | 280
                  small.text-muted (220)
                td
                  span.badge.bg-primary-subtle.text-primary.px-2 Stock
                td
                  a(href="#")
                    i.las.la-pen.text-secondary.fs-18
                  a(href="#")
                    i.las.la-trash-alt.text-secondary.fs-18
              // end tr
              tr
                td
                  .d-flex.align-items-center
                    img.me-3.align-self-center.rounded(
                      alt="..." 
                      height="40" 
                      src="/admin/assets/images/products/06.png"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0 Dancing Man
                      a.fs-12.text-primary(href="#") ID: A9547
                    // end media body
                td
                  | $40
                  del.text-muted.fs-10 $49
                td
                  | 500
                  small.text-muted (1000)
                td
                  span.badge.bg-danger-subtle.text-danger.px-2
                    | Out of
                    |   Stock
                td
                  a(href="#")
                    i.las.la-pen.text-secondary.fs-18
                  a(href="#")
                    i.las.la-trash-alt.text-secondary.fs-18
              // end tr
              tr
                td
                  .d-flex.align-items-center
                    img.me-3.align-self-center.rounded(
                      alt="..." 
                      height="40" 
                      src="/admin/assets/images/products/05.png"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0 Fire Lamp
                      a.fs-12.text-primary(href="#") ID: A2047
                    // end media body
                td
                  | $80
                  del.text-muted.fs-10 $59
                td
                  | 800
                  small.text-muted (2000)
                td
                  span.badge.bg-danger-subtle.text-danger.px-2
                    | Out of
                    |   Stock
                td
                  a(href="#")
                    i.las.la-pen.text-secondary.fs-18
                  a(href="#")
                    i.las.la-trash-alt.text-secondary.fs-18
              // end tr
          // end table
        // end /div
      // end card-body
    // end card
  // end col
  .col-md-6.col-lg-4
    .card
      .card-header
        .row.align-items-center
          .col
            h4.card-title Customers
          // end col
          .col-auto
            .img-group.d-flex
              a.user-avatar.position-relative.d-inline-block(href="#")
                img.thumb-md.shadow-sm.rounded-circle(
                  alt="avatar" 
                  src="/admin/assets/images/users/avatar-1.jpg"
                  )
              a.user-avatar.position-relative.d-inline-block.ms-n2(href="#")
                img.thumb-md.shadow-sm.rounded-circle(
                  alt="avatar" 
                  src="/admin/assets/images/users/avatar-2.jpg"
                  )
              a.user-avatar.position-relative.d-inline-block.ms-n2(href="#")
                img.thumb-md.shadow-sm.rounded-circle(
                  alt="avatar" 
                  src="/admin/assets/images/users/avatar-4.jpg"
                  )
              a.user-avatar.position-relative.d-inline-block.ms-n2(href="#")
                img.thumb-md.shadow-sm.rounded-circle(
                  alt="avatar" 
                  src="/admin/assets/images/users/avatar-3.jpg"
                  )
              a.user-avatar.position-relative.d-inline-block.ms-1(href="#")
                span.thumb-md.shadow-sm.justify-content-center.d-flex.align-items-center.bg-info-subtle.rounded-circle.fw-semibold.fs-6 +6
          // end col
        // end row
      .card-body.pt-0
        #customers.apex-charts
        .bg-light.py-3.px-2.mb-0.mt-3.text-center.rounded
          h6.mb-0
            i.icofont-calendar.fs-5.me-1
            | 01 January 2024 to 31
            |   December 2024
        p.text-secondary.text-truncate.mb-0.rounded.mt-2.text-center
          | To review the new
          |   order by Jems.
          a.text-primary.text-decoration-underline(href="#") detail
      // end card-body
    // end card
  // end col
  // end row
  .row.justify-content-center
  .col-md-6.col-lg-4
    .card
      .card-header
        .row.align-items-center
          .col
            h4.card-title Top Selling by Country
          // end col
          .col-auto
            .dropdown
              a.btn.bt.btn-light.dropdown-toggle(
                aria-expanded="false" 
                aria-haspopup="true" 
                data-bs-toggle="dropdown" 
                href="#"
                )
                i.icofont-calendar.fs-5.me-1
                | This Month
                i.las.la-angle-down.ms-1
              .dropdown-menu.dropdown-menu-end
                a.dropdown-item(href="#") Today
                a.dropdown-item(href="#") Last Week
                a.dropdown-item(href="#") Last Month
                a.dropdown-item(href="#") This Year
          // end col
        // end row
      // end card-header
      .card-body.pt-0
        .table-responsive
          table.table.mb-0
            tbody
              tr
                td.px-0
                  .d-flex.align-items-center
                    img.me-2.align-self-center.thumb-md.rounded-circle(
                      alt="..." 
                      src="/admin/assets/images/flags/us_flag.jpg"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0.text-truncate USA
                      .d-flex.align-items-center
                        .progress.bg-primary-subtle.w-100(
                          aria-valuemax="100" 
                          aria-valuemin="0" 
                          aria-valuenow="25" 
                          aria-label="Success example" 
                          role="progressbar" 
                          style="height:5px;"
                          )
                          .progress-bar.bg-primary(style="width: 85%")
                        small.flex-shrink-1.ms-1 85%
                    // end media body
                  // end media
                td.px-0.text-end
                  span.text-body.ps-2.align-self-center.text-end $5860.00
              // end tr
              tr
                td.px-0
                  .d-flex.align-items-center
                    img.me-2.align-self-center.thumb-md.rounded-circle(
                      alt="..." 
                      src="/admin/assets/images/flags/spain_flag.jpg"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0.text-truncate Spain
                      .d-flex.align-items-center
                        .progress.bg-primary-subtle.w-100(
                          aria-valuemax="100" 
                          aria-valuemin="0" 
                          aria-valuenow="25" 
                          aria-label="Success example" 
                          role="progressbar" 
                          style="height:5px;"
                          )
                          .progress-bar.bg-primary(style="width: 78%")
                        small.flex-shrink-1.ms-1 78%
                    // end media body
                  // end media
                td.px-0.text-end
                  span.text-body.ps-2.align-self-center.text-end $5422.00
              // end tr
              tr
                td.px-0
                  .d-flex.align-items-center
                    img.me-2.align-self-center.thumb-md.rounded-circle(
                      alt="..." 
                      src="/admin/assets/images/flags/french_flag.jpg"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0.text-truncate French
                      .d-flex.align-items-center
                        .progress.bg-primary-subtle.w-100(
                          aria-valuemax="100" 
                          aria-valuemin="0" 
                          aria-valuenow="25" 
                          aria-label="Success example" 
                          role="progressbar" 
                          style="height:5px;"
                          )
                          .progress-bar.bg-primary(style="width: 71%")
                        small.flex-shrink-1.ms-1 71%
                    // end media body
                  // end media
                td.px-0.text-end
                  span.text-body.ps-2.align-self-center.text-end $4587.00
              // end tr
              tr
                td.px-0
                  .d-flex.align-items-center
                    img.me-2.align-self-center.thumb-md.rounded-circle(
                      alt="..." 
                      src="/admin/assets/images/flags/germany_flag.jpg"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0.text-truncate Germany
                      .d-flex.align-items-center
                        .progress.bg-primary-subtle.w-100(
                          aria-valuemax="100" 
                          aria-valuemin="0" 
                          aria-valuenow="25" 
                          aria-label="Success example" 
                          role="progressbar" 
                          style="height:5px;"
                          )
                          .progress-bar.bg-primary(style="width: 65%")
                        small.flex-shrink-1.ms-1 65%
                    // end media body
                  // end media
                td.px-0.text-end
                  span.text-body.ps-2.align-self-center.text-end $3655.00
              // end tr
              tr
                td.px-0
                  .d-flex.align-items-center
                    img.me-2.align-self-center.thumb-md.rounded-circle(
                      alt="..." 
                      src="/admin/assets/images/flags/baha_flag.jpg"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0.text-truncate Bahamas
                      .d-flex.align-items-center
                        .progress.bg-primary-subtle.w-100(
                          aria-valuemax="100" 
                          aria-valuemin="0" 
                          aria-valuenow="25" 
                          aria-label="Success example" 
                          role="progressbar" 
                          style="height:5px;"
                          )
                          .progress-bar.bg-primary(style="width: 48%")
                        small.flex-shrink-1.ms-1 48%
                    // end media body
                  // end media
                td.px-0.text-end
                  span.text-body.ps-2.align-self-center.text-end $3325.00
              // end tr
          // end table
        // end /div
      // end card-body
    // end card
  // end col
  .col-md-6.col-lg-4
    .card
      .card-header
        .row.align-items-center
          .col
            h4.card-title Categories Data
          // end col
          .col-auto
            .text-center
              h6.text-uppercase.text-muted.mt-1.m-0
                span.fs-16.fw-semibold 24+
                | Categories
          // end col
        // end row
      .card-body.pt-0
        #categories.apex-charts.mt-n2
        .text-center
          button.btn.btn-primary.mx-auto(type="button")
            | More Detail
            i.fa-solid.fa-arrow-right-long
      // end card-body
    // end card
  // end col
  .col-md-6.col-lg-4
    .card
      .card-header
        .row.align-items-center
          .col
            h4.card-title Recents Order
          // end col
          .col-auto
            .dropdown
              a.btn.bt.btn-light.dropdown-toggle(
                aria-expanded="false" 
                aria-haspopup="true" 
                data-bs-toggle="dropdown" 
                href="#"
                )
                i.icofont-calendar.fs-5.me-1
                | This Month
                i.las.la-angle-down.ms-1
              .dropdown-menu.dropdown-menu-end
                a.dropdown-item(href="#") Today
                a.dropdown-item(href="#") Last Week
                a.dropdown-item(href="#") Last Month
                a.dropdown-item(href="#") This Year
          // end col
        // end row
      // end card-header
      .card-body.pt-0
        .table-responsive
          table.table.mb-0
            tbody
              tr
                td.px-0
                  .d-flex.align-items-center
                    img.me-2.align-self-center.rounded(
                      alt="..." 
                      height="36" 
                      src="/admin/assets/images/users/avatar-1.jpg"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0.text-truncate Scott Holland
                      a.font-12.text-muted.text-decoration-underline(href="#") #3652
                    // end media body
                  // end media
                td.px-0.text-end
                  span.text-primary.ps-2.align-self-center.text-end $3325.00
              // end tr
              tr
                td.px-0
                  .d-flex.align-items-center
                    img.me-2.align-self-center.rounded(
                      alt="..." 
                      height="36" 
                      src="/admin/assets/images/users/avatar-2.jpg"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0.text-truncate Karen Savage
                      a.font-12.text-muted.text-decoration-underline(href="#") #4789
                    // end media body
                  // end media
                td.px-0.text-end
                  span.text-primary.ps-2.align-self-center.text-end $2548.00
              // end tr
              tr
                td.px-0
                  .d-flex.align-items-center
                    img.me-2.align-self-center.rounded(
                      alt="..." 
                      height="36" 
                      src="/admin/assets/images/users/avatar-3.jpg"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0.text-truncate Steven Sharp
                      a.font-12.text-muted.text-decoration-underline(href="#") #4521
                    // end media body
                  // end media
                td.px-0.text-end
                  span.text-primary.ps-2.align-self-center.text-end $2985.00
              // end tr
              tr
                td.px-0
                  .d-flex.align-items-center
                    img.me-2.align-self-center.rounded(
                      alt="..." 
                      height="36" 
                      src="/admin/assets/images/users/avatar-4.jpg"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0.text-truncate Teresa Himes
                      a.font-12.text-muted.text-decoration-underline(href="#") #3269
                    // end media body
                  // end media
                td.px-0.text-end
                  span.text-primary.ps-2.align-self-center.text-end $1845.00
              // end tr
              tr
                td.px-0
                  .d-flex.align-items-center
                    img.me-2.align-self-center.rounded(
                      alt="..." 
                      height="36" 
                      src="/admin/assets/images/users/avatar-5.jpg"
                      )
                    .flex-grow-1.text-truncate
                      h6.m-0.text-truncate Ralph Denton
                      a.font-12.text-muted.text-decoration-underline(href="#") #4521
                    // end media body
                  // end media
                td.px-0.text-end
                  span.text-primary.ps-2.align-self-center.text-end $1422.00
              // end tr
          // end table
        // end /div
      // end card-body
    // end card
  // end col
  // end row

block script
    script(src="/admin/assets/libs/apexcharts/apexcharts.min.js")
    script(src="/admin/assets/js/pages/ecommerce-index.init.js")