extends ../layouts/default.pug
include ../mixins/pagination.pug
include ../mixins/form-search.pug

block main
  .row
    .col-12
      .card
        .card-header
          .row.align-items-center
            .col
              h4.card-title #{pageTitle}
            // end col
            .col-auto
              a.btn.btn-primary(
                href=`/${pathAdmin}/product/attribute/create`
                )
                i.fa-solid.fa-plus.me-1
                | Tạo thuộc tính
                // end col
            // end col
          // end row
        // end card-header
        .card-body.pt-0
          .row
            .col-lg-6
              +form-search()
          .table-responsive
            table.table.table-striped.mb-0
              thead.table-light
                tr
                  th STT
                  th Tên thuộc tính
                  th Kiểu hiển thị
                  th Danh sách lựa chọn
                  th.text-end Hành động
              tbody
                tr
                  td 1
                  td Kích cỡ
                  td text
                  td
                    span(class="badge bg-info me-1 mb-1") S
                    span(class="badge bg-info me-1 mb-1") M
                    span(class="badge bg-info me-1 mb-1") L
                    span(class="badge bg-info me-1 mb-1") XL
                  td.text-end
                    a(href=`/${pathAdmin}/product/attribute/edit/:id`)
                      i.las.la-pen.text-secondary.fs-20
                    a(
                      href="javascript:;"
                      button-api
                      data-method="PATCH"
                      data-api=`/${pathAdmin}/product/attribute/delete/:id`
                    )
                      i.las.la-trash-alt.text-secondary.fs-20
          //- +pagination()
    // end col
