extends ../layouts/default.pug
include ../mixins/form-group.pug
include ../mixins/checkbox.pug

block main
  .card
    .card-header
      .row.align-items-center
        .col
          h4.card-title #{pageTitle}
    .card-body.pt-0
      form(id="productCreateForm")
        .row
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="name") Tên sản phẩm *
              input.form-control(id="name" type="text" name="name")
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="slug") Đường dẫn *
              .input-group
                span.btn.btn-outline-info(
                  btn-generate-slug="Product" 
                  from="name"
                  to="slug"
                ) Tự động
                input.form-control(id="slug" type="text" name="slug")
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="position") Vị trí
              input.form-control(id="position" type="number" name="position")
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="status") Trạng thái
              select.form-select(id="status" name="status")
                option(value="draft") Bản nháp
                option(value="active") Hoạt động
                option(value="inactive") Tạm dừng
          .col-md-6.col-lg-6
            .mb-3
              label.form-label Danh mục
              div(class="checkbox-list" checkbox-list="category")
                +checkbox-list(categoryList)
                    .col-md-12.col-lg-12
            .mb-3
              label.form-label Danh sách ảnh
              div(class="form-multi-file")
                .input-group
                  span.btn.btn-outline-info(
                    data-bs-toggle="modal"
                    data-bs-target="#modalFileManager"
                  ) Chọn file
                  span.btn.btn-outline-info(
                    button-paste
                  ) Dán file
      
                .inner-list-image(multi-file="images")
                  //- .inner-image
                  //-   img(src="https://placehold.co/100x100/EEE/31343C", alt="")
                  //-   span.inner-remove x
                  //- .inner-image
                  //-   img(src="https://placehold.co/100x100/EEE/31343C", alt="")
                  //-   span.inner-remove x
          .col-md-12.col-lg-12
            .mb-3
              label.form-label(for="description") Mô tả ngắn
              textarea(id="description" name="description" textarea-mce)
          .col-md-12.col-lg-12
            .mb-3
              label.form-label(for="content") Nội dung chi tiết
              textarea(id="content" name="content" textarea-mce)
        button.btn.btn-primary(type="submit") Tạo mới
        a.btn.btn-danger.ms-1(href=`/${pathAdmin}/product/list`) Hủy

