extends ../layouts/default.pug
include ../mixins/checkbox.pug

block main
  if (permissions.includes("role-edit"))
    .card
      .card-header
        .row.align-items-center
          .col
            h4.card-title #{pageTitle}
      .card-body.pt-0
        form(id="roleEditForm")
          .row
            .col-md-6.col-lg-6.d-none
              .mb-3
                label.form-label(for="id") Id *
                input.form-control(id="id" type="text" name="id" value=roleDetail.id)
            .col-md-6.col-lg-6
              .mb-3
                label.form-label(for="name") Tên nhóm quyền *
                input.form-control(id="name" type="text" name="name" value=roleDetail.name)
            .col-md-6.col-lg-6
              .mb-3
                label.form-label(for="description") Mô tả ngắn
                input.form-control(id="description" type="text" name="description" value=roleDetail.description)
            .col-md-6.col-lg-6
              .mb-3
                label.form-label Phân quyền
                div(class="checkbox-list" checkbox-list="permissions")
                  +checkbox-list(permissionList, 0, roleDetail.permissions)
            .col-md-6.col-lg-6
              .mb-3
                label.form-label(for="status") Trạng thái
                select.form-select(id="status" name="status")
                  option(
                    value="active"
                    selected=(roleDetail.status == "active")
                    ) Hoạt động
                  option(
                    value="inactive"
                    selected=(roleDetail.status == "inactive")
                    ) Tạm dừng
          button.btn.btn-primary(type="submit") Cập nhật
          a.btn.btn-danger.ms-1(href=`/${pathAdmin}/role/list`) Hủy

