mixin product-item-2()
  div(class="product_item_2 product_item")
    div(class="product_img")
      img.img-fluid.w-100(
        alt="Product" 
        src="/client/assets/images/product_11.png"
        )
      ul(class="discount_list")
        li.new new
        li.discount
          b -
          | 75%
      ul(class="btn_list")
        li
          a(href="#")
            img.img-fluid(
              alt="Compare" 
              src="/client/assets/images/compare_icon_white.svg"
              )
        li
          a(href="#")
            img.img-fluid(
              alt="Love" 
              src="/client/assets/images/love_icon_white.svg"
              )
        li
          a(href="#")
            img.img-fluid(
              alt="Love" 
              src="/client/assets/images/cart_icon_white.svg"
              )
    div(class="product_text")
      a.title(href="shop_details.html") Kid's Western Party Dress
      p.price
        | $75.00
        del $69.00
      p.rating
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star-half-alt
        i.far.fa-star
        span (58 reviews)
      ul.color
        li.active(style="background:#DB4437")
        li(style="background:#638C34")
        li(style="background:#1C58F2")
        li(style="background:#ffa500")
