.startbar.d-print-none
  // start brand
  .brand
    a.logo(href=`/${pathAdmin}/dashboard`)
      span
        img.logo-sm(
          alt="logo-small" 
          src="/admin/assets/images/logo-sm.png"
          )
      span
        img.logo-lg.logo-light(
          alt="logo-large" 
          src="/admin/assets/images/logo-light.png"
          )
        img.logo-lg.logo-dark(
          alt="logo-large" 
          src="/admin/assets/images/logo-dark.png"
          )
  // end brand
  // start startbar-menu
  .startbar-menu
    #startbarCollapse.startbar-collapse(data-simplebar="")
      .d-flex.align-items-start.flex-column.w-100
        // Navigation
        ul.navbar-nav.mb-auto.w-100
          if (permissions.includes("dashboard"))
            li.nav-item
              a.nav-link(
                href=`/${pathAdmin}/dashboard`
                )
                i.iconoir-home-simple.menu-icon
                span Tổng quan
          // end nav-item
          li.nav-item
            a.nav-link(
              aria-controls="sidebarProduct" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarProduct"
              )
              i.iconoir-shop.menu-icon
              span Sản phẩm
            #sidebarProduct.collapse
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/product/create`) Tạo sản phẩm
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/product/list`) Danh sách sản phẩm
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/product/category`) Danh mục sản phẩm
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/product/attribute`) Thuộc tính sản phẩm
                // end nav-item
          li.nav-item
            a.nav-link(
              aria-controls="sidebarArticle" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarArticle"
              )
              i.iconoir-journal-page.menu-icon
              span Bài viết
            #sidebarArticle.collapse
              ul.nav.flex-column
                if (permissions.includes("article-create"))
                  li.nav-item
                    a.nav-link(href=`/${pathAdmin}/article/create`) Tạo bài viết
                // end nav-item
                if (permissions.includes("article-list"))
                  li.nav-item
                    a.nav-link(href=`/${pathAdmin}/article/list`) Danh sách bài viết
                // end nav-item
                if (permissions.includes("article-category"))
                  li.nav-item
                    a.nav-link(href=`/${pathAdmin}/article/category`) Danh mục bài viết
                // end nav-item
              // end nav
            // end startbarApplications
          // end nav-item
          li.nav-item
            a.nav-link(
              aria-controls="sidebarRole" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarRole"
              )
              i.iconoir-user-badge-check.menu-icon
              span Nhóm quyền
            #sidebarRole.collapse
              ul.nav.flex-column
                if (permissions.includes("role-create"))
                  li.nav-item
                    a.nav-link(href=`/${pathAdmin}/role/create`) Tạo nhóm quyền
                // end nav-item
                if (permissions.includes("role-list"))
                  li.nav-item
                    a.nav-link(href=`/${pathAdmin}/role/list`) Danh sách nhóm quyền
                // end nav-item
          li.nav-item
            a.nav-link(
              aria-controls="sidebarAccountAdmin" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarAccountAdmin"
              )
              i.iconoir-user-crown.menu-icon
              span Tài khoản quản trị
            #sidebarAccountAdmin.collapse
              ul.nav.flex-column
                if (permissions.includes("account-admin-create"))
                  li.nav-item
                    a.nav-link(href=`/${pathAdmin}/account-admin/create`) Tạo tài khoản
                // end nav-item
                if (permissions.includes("account-admin-list"))
                  li.nav-item
                    a.nav-link(href=`/${pathAdmin}/account-admin/list`) Danh sách tài khoản
                // end nav-item
                    li.nav-item
            a.nav-link(
              aria-controls="sidebarCoupon" 
              aria-expanded="false" 
              role="button" 
              data-bs-toggle="collapse" 
              href="#sidebarCoupon"
              )
              i.iconoir-percentage-circle.menu-icon
              span Mã giảm giá
            #sidebarCoupon.collapse
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/coupon/create`) Tạo mã giảm giá
                // end nav-item
                li.nav-item
                  a.nav-link(href=`/${pathAdmin}/coupon/list`) Danh sách mã giảm giá
                // end nav-item
          li.nav-item
            a.nav-link(
              href=`/${pathAdmin}/admin-log/list`
              )
              i.iconoir-clock.menu-icon
              span Lịch sử hoạt động
          if (permissions.includes("file-manager"))
            li.nav-item
              a.nav-link(
                href=`/${pathAdmin}/file-manager/iframe`
                )
                i.iconoir-folder-settings.menu-icon
                span Quản lý file
          // end nav-item
    // end startbar-collapse
  // end startbar-menu
// end startbar
.startbar-overlay.d-print-none